# Basic Python

## 1. Split this string

In [41]:
s = "Hi there Sam!"

In [42]:
s=s.split()
print(s)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [43]:
planet = "Earth"
diameter = 12742

In [44]:
print('The diameter of {} is {}'.format(planet,diameter))

The diameter of Earth is 12742

## 3. In this nest dictionary grab the word "hello"

In [45]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [46]:
sd=d['k1'][3]['tricky'][3]['target'][3]
print(sd)

hello

# Numpy

In [47]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [48]:
zero=np.zeros(10)
print(zero)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [49]:
ones=np.ones(10)*5
print(ones)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [50]:
arr=np.arange(20,35,2)
print(arr)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [51]:
matrix=np.arange(0,9).reshape(3,3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [52]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
con=np.concatenate((a,b))
print(con)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [53]:
import pandas as pd

In [54]:
data = [['naruto', 10], ['nicke', 15], ['helena', 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

     Name  Age
0  naruto   10
1   nicke   15
2  helena   14

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [55]:
dates=pd.date_range(start='1/1/2023',end='10/2/2023')
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [56]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [57]:

df = pd.DataFrame(lists)
print(df)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24